<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
          <ion-menu-button></ion-menu-button>
          <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title >Mostra Eventos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-title>{{nome}}</ion-card-title>
    <ion-card-subtitle>{{data}}</ion-card-subtitle>
    <ion-card-content>
    {{capacidade}}
    </ion-card-content>
  </ion-card>
</ion-content>
